#wrap {
    min-width: 360px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: url('../images/bg_top.jpg') repeat 0 0;
    color: #fff;
}

.slide-cont .swiper-slide {
    height: 100%;
}
.swiper-button-next {
    top: 214px;
    right: 16px;
    width: 10px;
    height: 16px;
    background: url('../images/btn_arr_right.png') no-repeat 0 0;
    background-size: 10px 16px;
    font-size: 0;
}
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    top: 214px;
    left: 16px;
    width: 10px;
    height: 16px;
    background: url('../images/btn_arr_left.png') no-repeat 0 0;
    background-size: 10px 16px;
    font-size: 0;
}
.swiper-button-prev::after {
    display: none;
}

.cont01 {
    height: 438px;
    background-color: #f2f2f2;
}
.cont01 .inner {
    position: relative;
    width: 360px;
    height: 438px;
    margin: 0 auto;
}

@keyframes opacityCon {
    100% {
        opacity: 1;
    }
}
@keyframes opacityCon2 {
    100% {
        opacity: 0;
    }
}
@keyframes opacityCon3 {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.item01_txt01 {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 185px;
    height: 35px;
    background: url('../images/item01_txt01.png') no-repeat 0 0;
    background-size: 185px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item01_txt01 {
    animation: opacityCon 1s 0.3s forwards;
}

.item01_txt02 {
    position: absolute;
    left: 50%;
    top: 56px;
    transform: translateX(-50%);
    width: 266px;
    height: 49px;
    background: url('../images/item01_txt02.png') no-repeat 0 0;
    background-size: 266px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item01_txt02 {
    animation: opacityCon 1s 0.5s forwards;
}

.item01_bg {
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    width: 183px;
    height: 350px;
    background: url('../images/bg_cont01_1.png') no-repeat 0 0;
    background-size: 183px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item01_bg {
    animation: opacityCon 1s forwards;
}

.item01_img01 {
    position: absolute;
    right: 6px;
    top: 10px;
    width: 82px;
    height: 50px;
    background: url('../images/img_cont01_1_1.png') no-repeat 0 0;
    background-size: 82px auto;
    font-size: 0;
}
.swiper-slide-active .item01_img01 {
    animation: opacityCon2 1s 2s forwards;
}
.item01_img02 {
    position: absolute;
    left: 6px;
    top: 66px;
    width: 82px;
    height: 50px;
    background: url('../images/img_cont01_1_2.png') no-repeat 0 0;
    background-size: 82px auto;
    font-size: 0;
}
.swiper-slide-active .item01_img02 {
    animation: opacityCon2 1s 4.5s forwards;
}
.item01_img03 {
    position: absolute;
    right: 7px;
    top: 123px;
    width: 82px;
    height: 50px;
    background: url('../images/img_cont01_1_3.png') no-repeat 0 0;
    background-size: 82px auto;
    font-size: 0;
}
.swiper-slide-active .item01_img03 {
    animation: opacityCon2 1s 7s forwards;
}
.item01_img04 {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    width: 283px;
    height: 139px;
    background: url('../images/img_cont01_1_4.png') no-repeat 0 0;
    background-size: 283px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item01_img04 {
    animation: opacityCon 1s 2s forwards;
}
.item01_img05 {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    width: 283px;
    height: 139px;
    background: url('../images/img_cont01_1_5.png') no-repeat 0 0;
    background-size: 283px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item01_img05 {
    animation: opacityCon 1s 4.5s forwards;
}
.item01_img06 {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    width: 283px;
    height: 139px;
    background: url('../images/img_cont01_1_6.png') no-repeat 0 0;
    background-size: 283px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item01_img06 {
    animation: opacityCon 1s 7s forwards;
}

.dim {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.hand {
    position: absolute;
    width: 24px;
    height: 36px;
    background: url('../images/img_hand.png') no-repeat 0 0;
    background-size: 24px auto;
    font-size: 0;
    opacity: 0;
}

.item01 .hand {
    left: 242px;
    top: 124px;
}
.item01.swiper-slide-active .hand {
    animation: item01_hand 8s 1.5s forwards;
}
@keyframes item01_hand {
    6% {
        opacity: 1;
        transform: scale(1);
    }
    12% {
        transform: scale(0.9);
    }
    18% {
        transform: scale(1);
    }
    30% {
        left: 242px;
        top: 124px;
    }
    36% {
        left: 154px;
        top: 182px;
        transform: scale(1);
    }
    42% {
        transform: scale(0.9);
    }
    48% {
        transform: scale(1);
    }
    60% {
        left: 154px;
        top: 182px;
    }
    66% {
        left: 245px;
        top: 240px;
        transform: scale(1);
    }
    72% {
        transform: scale(0.9);
    }
    78% {
        transform: scale(1);
    }
    100% {
        left: 245px;
        top: 240px;
        opacity: 1;
    }
}

.item02_txt01 {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 185px;
    height: 35px;
    background: url('../images/item02_txt01.png') no-repeat 0 0;
    background-size: 185px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item02_txt01 {
    animation: opacityCon 1s 0.3s forwards;
}

.item02_txt02 {
    position: absolute;
    left: 50%;
    top: 56px;
    transform: translateX(-50%);
    width: 331px;
    height: 49px;
    background: url('../images/item02_txt02.png') no-repeat 0 0;
    background-size: 331px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item02_txt02 {
    animation: opacityCon 1s 0.5s forwards;
}
.item02_txt03 {
    position: absolute;
    left: 50%;
    top: 111px;
    transform: translateX(-50%);
    width: 277px;
    height: 59px;
    background: url('../images/item02_txt03.png') no-repeat 0 0;
    background-size: 277px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item02_txt03 {
    animation: opacityCon 1s 0.7s forwards;
}
.item02_txt04 {
    position: absolute;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
    width: 227px;
    height: 38px;
    background: url('../images/item02_txt04.png') no-repeat 0 0;
    background-size: 227px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item02_txt04 {
    animation: opacityCon 1s 7s forwards;
}
.swiper-slide-active .item02_txt_cont {
    animation: opacityCon2 1s 6.5s forwards;
}

.item02_img01 {
    position: absolute;
    left: 62%;
    bottom: -156px;
    transform: translateX(-50%);
    width: 499px;
    height: 402px;
    background: url('../images/bg_cont01_2_2.png') no-repeat 0 0;
    background-size: 499px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item02_img01 {
    animation: item02_img01 10s forwards;
}
@keyframes item02_img01 {
    10% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
}
.item02_img01_2 {
    position: absolute;
    left: 62%;
    bottom: -156px;
    transform: translateX(-50%);
    width: 499px;
    height: 402px;
    background: url('../images/bg_cont01_2_1.png') no-repeat 0 0;
    background-size: 499px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item02_img01_2 {
    animation: item02_img01_2 8s forwards;
}
@keyframes item02_img01_2 {
    12.5% {
        opacity: 1;
    }
    87.5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.item02_img01_3 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 492px;
    height: 291px;
    background: url('../images/img_cont01_2_5.png') no-repeat 0 0;
    background-size: 499px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item02_img01_3 {
    animation: opacityCon 1s 8s forwards;
}

.item02_img02 {
    position: absolute;
    left: 52%;
    bottom: 91px;
    width: 156px;
    height: 61px;
    transform: translateX(-50%) scale(0);
    transform-origin: left bottom;
    background: url('../images/img_cont01_2_1.png') no-repeat 0 0;
    background-size: 156px auto;
    font-size: 0;
    opacity: 0;
}
.swiper-slide-active .item02_img02 {
    animation: item02_img02 3s 2s forwards;
}
@keyframes item02_img02 {
    33% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
    80% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.item02_img03 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(63%);
    width: 183px;
    height: 350px;
    background: url('../images/bg_cont01_1.png') no-repeat 0 0;
    background-size: 183px auto;
    font-size: 0;
    opacity: 0;
    z-index: 1;
}
.swiper-slide-active .item02_img03 {
    animation: item02_img03 10s 4s forwards;
}
@keyframes item02_img03 {
    5% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
    25% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
    30% {
        transform: translateX(-50%) translateY(63%);
        opacity: 0;
    }
    70% {
        transform: translateX(-50%) translateY(63%);
        opacity: 0;
    }
    75% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}
.item02.swiper-slide-active .dim {
    animation: item02_dim 10s 4s forwards;
}
@keyframes item02_dim {
    5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.item02_img04 {
    position: absolute;
    right: 6px;
    top: 10px;
    width: 82px;
    height: 50px;
    background: url('../images/img_cont01_1_1.png') no-repeat 0 0;
    background-size: 82px auto;
    font-size: 0;
}
.swiper-slide-active .item02_img04 {
    animation: opacityCon2 1s 13s forwards;
}

.item02_img05 {
    position: absolute;
    left: 6px;
    top: 66px;
    width: 82px;
    height: 50px;
    background: url('../images/img_cont01_1_2.png') no-repeat 0 0;
    background-size: 82px auto;
    font-size: 0;
}
.swiper-slide-active .item02_img05 {
    animation: item02_img05 5s 5s forwards;
}
@keyframes item02_img05 {
    8% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {}
}
.item02_img06 {
    position: absolute;
    right: 7px;
    top: 123px;
    width: 82px;
    height: 50px;
    background: url('../images/img_cont01_1_3.png') no-repeat 0 0;
    background-size: 82px auto;
    font-size: 0;
}
/* .swiper-slide-active .item02_img06 {
    animation: opacityCon2 1s 7s forwards;
} */

.item02_img07 {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    width: 283px;
    height: 139px;
    background: url('../images/img_cont01_1_4.png') no-repeat 0 0;
    background-size: 283px auto;
    font-size: 0;
    opacity: 0;
    z-index: 1;
}
.swiper-slide-active .item02_img07 {
    animation: opacityCon 1s 13s forwards;
}
.item02_img08 {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    width: 283px;
    height: 139px;
    background: url('../images/img_cont01_1_5.png') no-repeat 0 0;
    background-size: 283px auto;
    font-size: 0;
    opacity: 0;
    z-index: 1;
}
.swiper-slide-active .item02_img08 {
    animation: item02_img08 2s 5s forwards;
}
@keyframes item02_img08 {
    25% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.item02_img09 {
    position: absolute;
    left: 59%;
    bottom: 260px;
    transform: translateX(-50%) scale(0.1);
    width: 176px;
    height: 61px;
    background: url('../images/img_cont01_2_6.png') no-repeat 0 0;
    background-size: 176px auto;
    font-size: 0;
    opacity: 0;
    z-index: 1;
    transform-origin: left bottom;
}
.swiper-slide-active .item02_img09 {
    animation: item02_img09 10s 9s forwards;
}
@keyframes item02_img09 {
    5% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
    20% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
    25% {
        transform: translateX(-50%) scale(1);
        opacity: 0;
    }
}

.item02 .hand {
    left: 64px;
    top: 68px;
}
.item02.swiper-slide-active .hand {
    animation: item02_hand 10s 4.5s forwards;
}
@keyframes item02_hand {
    5% {
        opacity: 1;
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1);
    }
    20% {
        left: 64px;
        top: 68px;
        opacity: 1;
    }
    70% {
        left: 152px;
        top: 11px;
        opacity: 0;
    }
    80% {
        left: 152px;
        top: 11px;
        opacity: 1;
        transform: scale(1);
    }
    85% {
        transform: scale(0.9);
    }
    90% {
        transform: scale(1);
    }
    100% {
        left: 152px;
        top: 11px;
        opacity: 1;
    }
}

.cont02 {
    height: 616px;
    background: #f2f2f2 url('../images/bg_bottom.png') repeat-x 0 bottom;
    background-size: 360px auto;
    border-top: 1px solid #ebebeb;
}
.cont02 .bg {
    width: 360px;
    height: 491px;
    margin: 0 auto;
    background: url('../images/bg_cont02.png') no-repeat 45px 27px;
    background-size: 278px auto;
    font-size: 0;
}

.tab {
    display: flex;
    justify-content: center;
    height: 54px;
    border-top: 1px solid #ebebeb;
}
.tab ul {
    display: flex;
    height: 42px;
    padding-top: 21px;
}
.tab ul li.on {
    border-bottom: 3px solid #000;
}
.tab ul li + li {
    margin-left: 12px ;
}
.tab ul li a {
    display: block;
    font-size: 0;
}
.tab ul li:nth-child(1) a {
    width: 60px;
    height: 13px;
    background: url('../images/tab01_off.png') no-repeat 0 0;
    background-size: 60px auto;
}
.tab ul li:nth-child(1).on a {
    background-image: url('../images/tab01_on.png');
}
.tab ul li:nth-child(2) a {
    width: 63px;
    height: 13px;
    background: url('../images/tab02_off.png') no-repeat 0 0;
    background-size: 63px auto;
}
.tab ul li:nth-child(3) a {
    width: 62px;
    height: 13px;
    background: url('../images/tab03_off.png') no-repeat 0 0;
    background-size: 62px auto;
}
.tab ul li:nth-child(4) a {
    width: 72px;
    height: 13px;
    background: url('../images/tab04_off.png') no-repeat 0 0;
    background-size: 72px auto;
}

.txt01 {
    width: 324px;
    height: 22px;
    background: url('../images/txt01.png') no-repeat 0 0;
    background-size: 324px 22px;
    font-size: 0;
}

.txt02 {
    height: 72px;
    background: #338dfc url('../images/txt02.png') no-repeat center 16px;
    background-size: 266px 40px;
    font-size: 0;
}

.control {
    width: 20px;
    height: 20px;
    background: url('../images/btn_play.png') no-repeat 0 0;
    background-size: 20px 20px;
    font-size: 0;
}
.control.pause {
    margin: 17px 0 0 15px;
    background: url('../images/btn_pause.png') no-repeat 0 0;
    background-size: 20px 20px;
}