#wrap {
    min-width: 360px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: url('../images/bg_top.jpg') repeat 0 0;
    color: #fff;
}

.slide-cont .swiper-slide {
    height: 438px;
}

.cont02 {
    height: 616px;
}
.cont02 .bg {
    width: 360px;
    height: 491px;
    margin: 0 auto;
    background: url('../images/bg_cont02.png') no-repeat 0 0;
    background-size: 278px auto;
    font-size: 0;
}

.txt01 {
    width: 324px;
    height: 22px;
    background: url('../images/txt01.png') no-repeat 0 0;
    background-size: 324px 22px;
    font-size: 0;
}

.txt02 {
    height: 72px;
    background: #338dfc url('../images/txt02.png') no-repeat center 16px;
    background-size: 266px 40px;
    font-size: 0;
}